name: Publish Package

on:
    push:
        tags:
            - "v*"

jobs:
    publish-crate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable

            - name: Build
              run: cargo build --release

            - name: Publish to Crates.io
              run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
